/* Global Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('./Indian-Railway.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: white;
}


header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
/*     display: flex; */
}

#results{
    background-color: #5553b7;
}

#search{
    background-color: #5553b7;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#booking{
    background-color: #5553b7;
}

nav li {
    margin-right: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
}

form {
/*     display: flex; */
    flex-wrap: wrap;
    margin-top: 1rem;
}

label {
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="submit"],
button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="submit"] {
    width: 100%;
    max-width: 400px;
}

button {
    background-color: #333;
    color: #5c5959;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

li h3 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
